<?xml version='1.0' encoding='utf-8'?>
<widget 
	xmlns="http://www.w3.org/ns/widgets" 
	id="https://addons.opera.com/extensions/details/google-adsense-monitor/" 
	defaultlocale="en" 
	viewmodes="minimized" 
	version="1.8">
	
	<name short="AdsenseMonitor">Google Adsense Monitor</name>
	<author email="thewebdev@myopera.com">M Shabeer Ali</author>
	<!-- original icon credit - http://dakirby309.deviantart.com/ -->
	<icon src="pix/icon-64.png"/>
	<icon src="pix/icon-128.png"/>
	<feature name="opera:speeddial" required="true">
		<!-- Link to open when the Speed Dial is clicked -->
		<param name="url" value="http://adsense.google.com"/>
	</feature>
	<preference name="interval" value="15"/>
	<preference name="showfor" value="4"/>
	<feature name="opera:share-cookies" required="true"/>
	<access origin="http://google.com/" subdomains="true"/>
	<access origin="https://google.com/" subdomains="true"/>
	<preference name="edaily" value="1"/>
	<preference name="emonthly" value="1"/>
	<preference name="etotal" value="1"/>
	<preference name="interval" value="20"/>
	<preference name="showfor" value="3"/>	
	<update-description href="https://extension-updates.opera.com/api/w3c-wd1/update/c2885050-a794-4440-b68a-f9b9a019496c/"/>	
	<license href="http://www.gnu.org/licenses/gpl-3.0.html">Licensed under GPL v3.0</license>
	<description xml:lang="en">Preview your Adsense earnings in an Opera Speed Dial.</description>
</widget>
